/* Header */
header {
  display: flex;
  justify-content: space-between;
  font-display: block;
  position: relative;
  background-color: #062a1c; }
  header .navbar navbar-expand-lg navbar-light {
    display: flex;
    padding: 10px;
    justify-content: flex-end; }
  header .nav-link {
    display: flex;
    justify-content: flex-end;
    font-family: "Staatliches", cursive;
    font-size: 1.3rem; }
    header .nav-link:hover {
      transform: scale(1.1);
      color: white; }
  header .navbar-light .navbar-nav .nav-link.active {
    color: white; }
  header .div__header {
    align-items: center;
    margin-left: 15px; }
  header .container-fluid {
    display: flex;
    justify-content: space-between; }
  header li {
    list-style: none; }

/* Footer */
.footer__general {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #062a1c;
  color: white;
  text-align: center; }
  .footer__general .footer__texto {
    margin: 20px; }

/* Body */
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #f5eeee;
  color: #062a1c; }

/* Index */
.index__main .carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 30%; }
  .index__main .carousel-caption h1 {
    font-size: 3.5rem;
    font-family: "Alegreya", serif;
    text-shadow: 0 0 8px black; }
  .index__main .carousel-caption p {
    font-size: 1.5rem;
    font-family: "Alegreya", serif;
    text-shadow: 0 0 8px black; }

.index__main .index__boton {
  display: flex;
  margin-left: 20%; }
  .index__main .index__boton a {
    display: flex;
    font-size: 1rem;
    color: white;
    background-color: #062a1c;
    border-color: #062a1c;
    width: 140px;
    text-shadow: 0 0 8px black; }

/* Microcerveceria */
.microcerveceria__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-display: block;
  margin: 3rem; }
  .microcerveceria__main img {
    width: 100%; }

.microcerveceria__img1:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  margin: 2rem; }

.microcerveceria__titulo:nth-child(2) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: flex-start;
  width: 90%;
  font-size: 1.2rem;
  margin: 2rem; }
  .microcerveceria__titulo:nth-child(2) a {
    display: flex;
    font-size: 1rem;
    color: white;
    background-color: #062a1c;
    border-color: #062a1c;
    width: 30%;
    text-shadow: 0 0 8px black; }

.microcerveceria__texto:nth-child(3) {
  grid-column: 1/2;
  display: flex;
  text-align: justify;
  justify-content: flex-end;
  width: 90%;
  font-size: 1.2rem;
  margin: 2rem; }

.microcerveceria__img2:nth-child(4) {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 2rem; }

/* Refugios */
.refugios__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-display: block; }
  .refugios__main img {
    width: 100%; }
  .refugios__main .refugios__patagonia {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px #4e4c4c; }
    .refugios__main .refugios__patagonia img {
      width: 100%;
      border-radius: 20px; }
    .refugios__main .refugios__patagonia .refugios__titulo h2 {
      display: flex;
      font-size: 1.5rem;
      color: white;
      position: absolute;
      text-shadow: 0 0 8px black;
      margin: 0.5rem; }
    .refugios__main .refugios__patagonia .refugios__texto {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 0.5rem; }
      .refugios__main .refugios__patagonia .refugios__texto p {
        font-size: 1rem;
        color: white;
        text-shadow: 0 0 8px black;
        margin: 5px; }
      .refugios__main .refugios__patagonia .refugios__texto a {
        border-radius: 10px;
        font-size: 1rem;
        color: white;
        background-color: #062a1c;
        border-color: #062a1c;
        width: 140px;
        text-shadow: 0 0 8px black; }

.refugios__imagen:first-child {
  display: flex;
  grid-column: 1/4;
  width: 100%; }

.refugios__intro:nth-child(2) {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 2rem; }

/* Shop */
.shop__main {
  display: flex;
  flex-direction: column;
  margin-left: 15px; }
  .shop__main .shop__variedadesfijas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .shop__main .shop__estacionales {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .shop__main .shop__edicionespecial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }

.shop__card {
  border: 4px solid #ece5e5;
  margin: 20px; }
  .shop__card .btn-primary {
    display: flex;
    justify-content: center;
    background-color: #062a1c;
    border-color: #062a1c; }
