$color-header: #062a1c;
$color-fondo: white;
$font-principal: 'Alegreya', serif;
$font-titulos: 'Alegreya', serif;
$color-letras2: white;
$color-letras: #062a1c;
$font-header: 'Staatliches', cursive;
$color-footer: #062a1c;