$color-header: #031532;
$color-fondo: #031532;
$color-fondo2: white;
$font-principal: 'Courgette', cursive;
$color-letras: white;
$font-titulos: 'Staatliches', cursive;
$color-footer: #031532;
$color-botones: #cfc558;