@import 'header';
@import 'variables';
@import 'mediaqueries';
@import 'footer';

/* Body */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: $color-fondo;
}

/* Index */
/* Bebidas */
/* Merchandising */
/* Packs */
/* Suscribete */