@import 'header';
@import 'variables';
@import 'media';
@import 'footer';

/* Body */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: $color-fondo;
    color: $color-letras;
}

/* Index */
/* Bebidas */
/* Merchandising */
/* Packs */
/* Suscribete */